<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lora|Montserrat" rel="stylesheet")
        link(rel="stylesheet" href="style/mainik.css")
        link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
    style.
        @keyframes menu {
            from {

        }


            to {
                right: 0;
            }   
        }

        @keyframes menuRev {
            from {
                right: 0;
            }

            to {

            }
        }
        .no1 {
            animation-name: menu;
        }

        .no2 {
            animation-name: menuRev;
        }   
    body
        include includes/Carcass/_Glavnaya.jade
        include includes/_services.jade
        include includes/_content.jade
        include includes/_contacts.jade
        include includes/Carcass/_footer.jade
        include includes/Carcass/_menu.jade
    script.

        // ********************************************************************************************    
        //Task 1.05.00-1.10.10L50, 1.12.45-1.14.45L50
        
        //This code is aimed to hide side menu bar.
        //Because .menu width has width 30% from body,
        //we need to be sure that it is fully hidden when been closed
        //until it has been called by menu burger
        
        window.addEventListener('load', f_hideMenu)

        window.addEventListener('resize', f_hideMenu)
                
        function f_hideMenu() {
            menuAnimate.style.right= '-' +menuAnimate.clientWidth+'px';
            menuAnimate.style.opacity=1;
            
            //- **********************************************************************************************
            //- this code allows to transfer blocks inside .head block when body width is more than 1920px
            //- **********************************************************************************************
            if (document.body.clientWidth>5700) {
                var t = (40*document.body.clientWidth)/100;
                var h = document.querySelector('.head');
                h.style.paddingLeft=t+'px';
                h.style.paddingRight=t+'px';
                var Mid = document.querySelector(".block_Text");
                Mid.style.textAlign = "center";
            }

            if (document.body.clientWidth>1920 && document.body.clientWidth<5700) {
                var t = (30*document.body.clientWidth)/100;
                var h = document.querySelector('.head');
                h.style.paddingLeft=t+'px';
                h.style.paddingRight=t+'px';
            }
            
            if (document.body.clientWidth<1920) {
                var h = document.querySelector('.head');
                h.style.paddingLeft="inherit";
                h.style.paddingRight="inherit";
            }
            //- **********************************************************************************************
        }

        //This code is aimed to hide side menu bar using keyframes animation above
        //Description of the code with adding classes no1 and no2 2.02.50-2.05.40 Lesson50
        //This code animates hiding of side-menu-bar

        
        btn.addEventListener('click', function(){
            menuAnimate.classList.add('no2')
            menuAnimate.classList.remove('no1')
            
            
        })
        btn1.addEventListener('click', function(){
            menuAnimate.classList.add('no1')
            menuAnimate.classList.remove('no2')
        })




        // ********************************************************************************************
        

        //These jquery codes above are described in 49.40, 1.46.15-1.54.00 Lesson50)
        //this allows you to smoothly move around the page

        $("#home").click(function(){
            $('html, body').animate({
                scrollTop: $("#homes").offset().top
            }, 500);
        });
        $("#services").click(function(){
            $('html, body').animate({
                scrollTop: $("#services-container").offset().top
            }, 500);
        });
        $("#stories").click(function(){
            $('html, body').animate({
                scrollTop: $("#content").offset().top
            }, 500);
        });
        $("#contact").click(function(){
            $('html, body').animate({
                scrollTop: $("#connect").offset().top
            }, 500);
        });
        


        //This code is aimed to display back burger-menu when we close side menu-ber by clicking close-button

        var btnHrest=document.getElementById('btn');
        btnHrest.addEventListener('click', function() {
            barsBurger.style.opacity=1;
        })


        //1.05.00-1.10.10 Lesson50 This code is for fixed top menu-bar      
        //В записи сказано, что эта шапка будет ездить при скроле на мобильном и десктопном приложениях
        //обычно в таких случаях для мобильных делают свою шапку которая скролится
        //а для десктопных своя, они на медизапросах с пом. display: none меняются местами

        window.addEventListener('scroll', function(e){
            scrollTopFix=function(){
                if ('scrollingElement' in document)
                    {return document.scrollingElement}
                if (navigator.userAgent.indexOf('WebKit')!=-1)
                    {return document.body}
                return document.documentElement
            }
                var distTop = scrollTopFix().scrollTop;
                var barh = document.querySelector('.head');
                var blockG = document.querySelector('.block');
                if(distTop > 100) {
                    barh.classList.add('fixed');
                    blockG.style.marginTop = 275 + 'px';        //этот код компенсирует блоку потерянные 100px (закрепленная верхняя меню) из-за которой контент блока .block смещается вверх и становится нечитаемым
                }
                if(distTop<100){
                    if (distTop==0){
                        barh.classList.remove('fixed');
                        blockG.style.marginTop = 0 + 'px';
                    }
                }
            f_noScroll()
        });
        
        //Эта функция позволяет скрывать правую менюшку когда мы скролимся
        //This function allows to hide side-menu-bar when scrolling

        function f_noScroll() {
            var m = document.getElementById('menuAnimate')
            m.removeEventListener('scroll',f_noScroll)
            var temp = m.classList;
            var temp1 = Array.from(temp)
            //- console.log(temp1)
            if (temp1.indexOf("no1") != -1) {
                if (document.body.clientWidth<700){
                    m.classList.add('no2')
                    m.classList.remove('no1')
                    barsBurger.style.opacity=1; 
                }
            } 
        }
        
        



        
                  